* {
  margin: 0;
  padding: 0;
}

body {

  background: #c0c0c0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.logo{
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

.logoAcc{
  width:320px;
}

.logoRS{
  width:50px;
  padding:8px;

}

/* ------------------------------------- */
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #c0c0c0;
   /* background-image: url('Images/Ludema%20LOGO.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto;*/
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
    background: rgba(255,255,255,0.2);
    padding: 2rem;
    color: white;
}

.jumbotron p{
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* ICI SE TROUVE LE CSS DE LA PAGE NOUVEAU TEST */

.title{
  text-align:center;
  font-size:39px;
  color:#333837;
}

.sauv {
  font-size:0.9em;
}
.accordion-menu {
  width: 100%;
  max-width: 350px;
  background: #fff;
  border-radius: 4px;
}

.accordion-menu li.open .dropdownlink {  /*chaque menus */
  color: #0A2737;
}

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #2285BA;  /* menu sélectionné*/
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.dropdownlink i {
  position: absolute;
  top: 17px;
  left: 16px;
}


.submenuItems {
  display: none;
  background: #E1E5E7;
}
.submenuItems li {
  border-bottom: 1px solid #B6B6B6;
}

.submenuItems a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.submenuItems a:hover {
  text-decoration:none;
  background-color: #F5F5DC;
  color: #3366ff;
}

.arbreETtestselection{
  margin-top: 50px;
}
/* VUE APPLIQUER TEST */

.btnpdf{
  margin-bottom:10px;
}
.formultest{
  margin-top:20px;
  background-color:#e6e6e6;
  border-radius:10px;

}

.titretest {
  text-align:center;
}


/* CSS DE LECHELLE DE GRADUATION DE 1 à 10 */

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .1s; /* 0.2 seconds transition on hover */
  transition: opacity .1s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2285BA;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #2285BA; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
output {
  font-size: 25px;
  color:#2285BA;

}
/* FIN DU CSS DE LECHELLE DE GRADUATION DE 1 à 10 */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.formm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formm input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formm button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formm button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.formm .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formm .message a {
  color: #4CAF50;
  text-decoration: none;
}
.formm .register-form {
  display: none;
}

.pouet {color: blue;}

.bgcl{
  background: #FFFFFF;
}
.bleu {
background-color:blue;
}

.vert {
background-color:green;
}

.rouge {
background-color:red;
}

.jaune {
background-color:yellow;
}

/* VUE monCompte */



.boutonMonCompte{
  width:100%;
  white-space: nowrap;
  padding-top:25%;
  padding-bottom:25%;
}

@media screen and (max-width: 767px) {
.boutonMonCompte {
    font-size: 10px;
  }
}

@media screen and (max-width: 991px) {
  .boutonMonCompte {
    font-size: 15px;
  }
}

@media screen and (max-width: 1199px) {
.boutonMonCompte {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
.boutonMonCompte {
    font-size: 25px;
  }
}
